.white-background{
    -fx-background-color: '#f3f3f3';
}

.white-pane-background{
    -fx-background-color: '#f3f3f3';
}

.right-side-border {
    -fx-border-color: '#ebebf2';
    -fx-border-width: 0 1 0 0;
}

.primary-color{
    -fx-background-color: '#EFF2F6';
}

.primary-color2{
    -fx-background-color: '#FFFFFF';
}

.comment-color {
    -fx-color: '#ebebf2';
}

.button {
    -fx-background-color: '#f3f3f3';
    -fx-background-radius: 4;
}

.button:hover {
    -fx-background-color: '#eaeaea';
    -fx-background-radius: 4;
}

.button:pressed {
    -fx-background-color: '#ededed';
    -fx-background-radius: 4;
    -fx-text-fill: '#666666';
}

.button-vbox {
    -fx-alignment: 'center-left';
    -fx-background-color: '#f3f3f3';
    -fx-background-radius: 4;
}

.button-vbox:hover {
    -fx-background-color: '#eaeaea';
    -fx-background-radius: 4;
}

.button-vbox:pressed {
    -fx-background-color: '#ededed';
    -fx-background-radius: 4;
    -fx-text-fill: '#666666';
}

.button_inside {
    -fx-background-color: '#FFFFFF';
    -fx-border-color: '#e9ebee';
    -fx-border-width: 1;
    -fx-background-radius: 7;
    -fx-border-radius: 7;
}

.button_inside:hover {
    -fx-background-color: '#eaeaea';
    -fx-border-width: 1;
    -fx-background-radius: 7;
    -fx-border-radius: 7;
}

.button_inside:pressed {
    -fx-background-color: '#ededed';
    -fx-border-width: 1;
    -fx-background-radius: 7;
    -fx-border-radius: 7;
}

.button_inside:selected {
    -fx-background-color: '#2E6070';
    -fx-border-color: '#2E6070';
    -fx-text-fill: '#FFFFFF';
}

.button_inside_brown {
    -fx-background-color: '#2E6070';
    -fx-text-fill: '#FFFFFF';
    -fx-border-color: '#2E6070';
    -fx-border-width: 1;
    -fx-background-radius: 7;
    -fx-border-radius: 7;
}

.button_inside_brown:hover {
    -fx-background-color: '#3D8096';
    -fx-background-radius: 7;
    -fx-border-radius: 7;
}

.button_inside_brown:pressed {
    -fx-background-color: '#19343C';
    -fx-background-radius: 7;
    -fx-border-radius: 7;
}

.button_inside_green {
    -fx-background-color: '#69C08F';
    -fx-text-fill: '#FFFFFF';
    -fx-border-width: 1;
    -fx-background-radius: 7;
    -fx-border-radius: 7;
}

.button_inside_green:hover {
    -fx-background-color: '#4d8d69';
    -fx-background-radius: 7;
    -fx-border-radius: 7;
}

.button_inside_green:pressed {
    -fx-background-color: '#7de6ab';
    -fx-background-radius: 7;
    -fx-border-radius: 7;
}

.button_brown_invoice {
    -fx-background-color: '#6D676E';
    -fx-text-fill: '#FFFFFF';
    -fx-background-radius: 0 0 3 0;
}

.button_brown_invoice:hover {
    -fx-background-color: '#928a94';
    -fx-background-radius: 0 0 3 0;
}

.button_brown_invoice:pressed {
    -fx-background-color: '#3a373b';
    -fx-background-radius: 0 0 3 0;
}

/*3a373b*/

.button-big {
    -fx-background-color: '#FFFFFF';
    -fx-border-color: '#e9ebee';
    -fx-border-width: 1;
    -fx-background-radius: 3;
    -fx-font-family: 'Helvetica', Arial, sans-serif;
}

.button-big:hover {
    -fx-background-color: '#f6f6f6';
}

.textarea-bg {
    -fx-background-color: '#FFFFFF';
    -fx-border-color: '#e9ebee';
    -fx-border-width: 1;
    -fx-background-radius: 7;
    -fx-border-radius: 7;
}

.textarea-bg:focused {
    -fx-border-color: '#17BEBB';
}

.check-box .box {
    -fx-background-color: '#FFFFFF';
    -fx-border-color: '#e9ebee';
    -fx-border-width: 1;
    -fx-background-radius: 3;
}

.check-box:selected .mark {
}

.clickable-pane-bg {
    -fx-background-color: '#FFFFFF';
    -fx-border-color: '#e9ebee';
    -fx-border-width: 1;
    -fx-background-radius: 7;
    -fx-border-radius: 7;
}

.clickable-pane-bg:hover {
    -fx-background-color: '#F5F3F3';
}

.clickable-pane-bg:pressed {
    -fx-background-color: '#D9D9D9';
}

.cp-light-blue-bg {
    -fx-background-color: '#F0F9FF';
    -fx-border-color: '#e9ebee';
    -fx-border-width: 1;
    -fx-background-radius: 7;
    -fx-border-radius: 7;
}

.cp-light-blue-bg:hover {
    -fx-background-color: '#F5F3F3';
}

.cp-light-blue-bg:pressed {
    -fx-background-color: '#D9D9D9';
}

.text-field {
    -fx-background-color: '#FFFFFF';
}

.search-container {
    -fx-border-color: '#e9ebee';
    -fx-border-width: 1;
    -fx-border-radius: 3;
}

/*CSS for Date Picker*/
.date-picker {
    -fx-border-color: '#e9ebee';
    -fx-border-width: 1;
    -fx-border-radius: 3;
    -fx-background-color: '#FFFFFF';
}

.date-picker > .arrow-button {
    -fx-background-color: '#FFFFFF';
}

.date-picker > .arrow-button:hover {
    -fx-background-color: '#f6f6f6';
}

.date-picker > .arrow-button:pressed {
    -fx-background-color: '#ededed';
}

.scroll-pane {
    -fx-background-color: transparent;
    /*-fx-background-color: '#FFFFFF';*/
    -fx-border-color: transparent;
    -fx-border-width: 1;
}

.search-results-pane {
    -fx-background-color: '#FFFFFF';
}

.search-result {
    -fx-background-color: '#FFFFFF';
}

.search-result:hover {
    -fx-background-color: '#f6f6f6';
}

.scroll-pane > .viewport {
   -fx-background-color: transparent;
}

.invoice-table {
    -fx-background-color: '#8dc1e7';
}

.main-vbox {
    -fx-background-color: '#fcfcfd';
    -fx-background-radius: 10 10 0 0;
    -fx-border-color: '#e9ebee';
    -fx-border-width: 1;
    -fx-border-radius: 10 10 0 0;
}

.combo-box:focused
{
    -fx-border-color: '#17BEBB';
}

.combo-box-base
{
    -fx-background-color: white;
    -fx-border-color: '#e9ebee';
    -fx-border-width: 1;
    -fx-background-radius: 7;
    -fx-border-radius: 7;
}

.combo-box .arrow-button {
    -fx-background-color: white;
    -fx-border-color: '#e9ebee';
    -fx-border-style: hidden hidden hidden solid;
    -fx-border-width: 1;
    -fx-background-radius: 7;
    -fx-border-radius: 7;
}

.titled-pane > .title {
    -fx-background-color: white;
    -fx-border-color: '#e9ebee';
    -fx-background-radius: 7 7 0 0;
    -fx-border-radius: 7 7 0 0;
}

.titled-pane .content {
    -fx-border-color: '#e9ebee';
    -fx-border-radius: 0 0 7 7;
    -fx-background-radius: 7 7 0 0;
}

.titled-pane:expanded .content {
    -fx-border-color: '#e9ebee';
    -fx-border-radius: 0 0 7 7;
    -fx-background-radius: 7 7 0 0;
}

.titled-pane:expanded {
    -fx-background-radius: 7 7 0 0;
}

.titled-pane:focused > .title > .arrow-button > .arrow {
    -fx-background-insets: 0;
}

.titlepane-bg {
    -fx-background-color: white;
    -fx-background-radius: 0 0 7 7;
}

.spinner {
    -fx-background-color: '#FFFFFF';
    -fx-border-color: '#e9ebee';
    -fx-border-width: 1;
    -fx-background-radius: 3;
}

.spinner .increment-arrow-button {
    -fx-background-color: '#FFFFFF';
    -fx-border-color: '#e9ebee';
}

.spinner .decrement-arrow-button {
    -fx-background-color: '#FFFFFF';
    -fx-border-color: '#e9ebee';
}

.spinner .increment-arrow-button: pressed {
    -fx-background-color: '#e9ebee';
}

.spinner .decrement-arrow-button: pressed {
    -fx-background-color: '#e9ebee';
}

.progress-bar .track {
    -fx-background-color: '#e9ebee';
    -fx-background-radius: 0;
    -fx-background-insets: 0;
}

.progress-bar .bar {
    -fx-background-color: '#49a078';
    -fx-background-radius: 0;
    -fx-background-insets: 0;
}

.table-view {
    -fx-background-color: '#e9ebee';
}

.table-view .column-header-background .filler {
    -fx-background-color: transparent;
}

.table-view .corner {
    -fx-background-color: transparent;
}

.table-view .column-header-background{
    -fx-background-color: '#ffffff';
    -fx-background-radius: 4px 4px 0px 0px;
    -fx-background-insets: 0 0 0 0;
    /*-fx-padding: 0 0 5px 0;*/
    -fx-padding: 10px;
    -fx-border-color: transparent transparent '#e9ebee' transparent;
}

.table-view .column-header {
    -fx-background-color: transparent;
}

.table-view .table-cell{
    -fx-border-color: '#FFFFFF';
    -fx-padding: 10px;
}


/*.table-row-cell: odd{
    -fx-background-color: '#FFFFFF';
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}

.table-row-cell: even{
    -fx-background-color: '#f9fbff';
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}*/

.table-row-cell: hover {
    -fx-background-color: '#79b7e3';
}

.table-row-cell: selected {
    -fx-background-color: '#79b7e3';
}
